* {
  color: #1a1a1a;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  border-style: none;
  border-width:  0px;
  position: static;
  
}

body {
  margin: 0;
  padding: 0;
  background-image: url("grafient.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
}

h1 {
  padding-left: 100px;
  padding-top: 10px;
  font-weight: bold;
  font-style: italic;
}

.nav ul {
  background-color: #23315c;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #000000;
  display: block;
  padding-left: 0;
  font-weight: bold;
  color: #f2f2f2;
  transition: 0.3s background-color, 1s color;
}


.nav a:hover {
  background-color: #3f5ba6;
  color: #f2f2f2;
}

.nav a.active {
  background-color: #ffd633;
  color: #000000;
  font-weight: normal;
  cursor: default;
  margin-right: -4px;
  margin-left: -4px;
}

.nav a.active:hover {
  background-color: #ffe680;
  color: #000000;
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 0px;
	text-align: center;
  } 
}

.floatme {
  float: right;
}

.navbutton {
  padding: 0px 0px;
  cursor: pointer;
  height: 25px;
  width: 70px;
  background-color: #ffd633;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.navbutton:hover {
  background-color: #ffe680;
}

.navbutton2 {
  padding: 0px 0px;
  cursor: pointer;
  height: 25px;
  width: 140px;
  background-color: #ffd633;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.navbutton2:hover {
  background-color: #ffe680;
}

.col {
  padding: 15px;
  margin: auto;
  width: 100%;
  column-count: 2;
  text-align: left;
  font-size:  1.5em;
}

.col3 {
  padding: 0px;
  width: 35%;
  column-count: 4;
  text-align: left;
  font-size:  1.5em;
}

input[type=text], select {
    width: 80%;
    padding: 8px 15px;
    margin: 8px 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
  text-align: center;
}

label {
  text-align: left;
}

span {
  display: inline;
}

#results {
  text-align: right;
  display: inline;
}

input[type=submit] {
    width: 100%;
    background-color: #23315c;
    color: white;
    padding: 12px 28px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1c284a;
}

#form2 {
    border-radius: 5px;
    background-color: #f2f2f2;
}

#form {
  width: 35%;
  margin: 50px;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}

.forms {
  padding: 20px;
}

#addnote {
  display: inline;
}

#edit {
  display: inline;
}

.app {
  margin: 10px;
  padding: 10px;
}

.reason {
  width: 75%;
}

.outline {
  padding: 15px;
  margin: auto;
  width: 75%;
}

#profile {
  border-collapse: collapse;
  border: 5px solid #151e37;
  margin: auto;
  width: 100%;
  border-radius: 15px;
}

#profile  td{
  padding: 11px;
  text-align: left;
}
#profile th{
  border-bottom: 5px solid #151e37;
  padding: 15px;
  background-color: #23315c;
  color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}



.records {
  border-right: 5px solid #151e37;
}
.records:hover {
  background-color: #ffff99;
}

.tags {
  
}

.tags:hover {
  background-color: #ffff99;
}

.tabless {
  padding: 0px;
  margin: 100px;
}

#appointments {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #23315c;
}
#appointments td{
  padding:11px;
  border: 1px solid #ffff99;
  text-align: left;
}
#appointments th{
  padding: 15px;
  background-color: #23315c;
  color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

#appointments tr:hover {
  background-color: #ffff99;
}

 tr:nth-child(even){
  background-color: #ffffb3
}

tr:nth-child(odd) {
  background-color: #ffffe6
}

.button {
  padding: 0px 0px;
  cursor: pointer;
  background-color: #23315c;
  color: #f2f2f2;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.button:hover {
  background-color: #151e37;
}

#id {
  padding: 0px 0px;
  background-color: #23315c;
  color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
}

#id:hover {
  background-color: #121e37;
}

.buttons {
  padding: 0px;
  word-spacing: 10px;
  text-align: center;
}

.profilebuttons {
  padding: 30px;
  word-spacing: 100px;
  text-align: center;
}

#delete {
  display: inline;
}

#edit {
  display: inline;
}

#print {
  display: inline;
}

#tags {
  display: inline;
}

.error {
  display: inline;
}

.col2 {
  padding: 10px;
  margin: auto;
  width: 100%;
  text-align: left;
  font-size:  1.5em;
  word-spacing: 16px;
}

.outline2 {
  padding: 0px;
  margin: auto;
  width: 100%;
}

#profile2 {
  border-collapse: collapse;
  border: 8px solid #ffd633;
  margin: auto;
  width: 100%;
  border-radius: 15px;
}

#profile2  td{
  padding: 11px;
  text-align: left;
}
#profile2 th{
  border-bottom: 5px solid #151e37;
  padding: 15px;
  background-color: #23315c;
  color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.title {
  display: block;
  font-size: 1.2em;
}

.or {
  display: block;
  text-align: center;
}