* {
  color: #1a1a1a;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  border-style: none;
  border-width:  0px;
  position: static;
  
}

body {
  margin: 0;
  padding: 0;
  background-image: url("grafient.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
}

.nav ul {
  background-color: #23315c;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.nav a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  color: #f2f2f2;
  transition: 0.3s background-color, 1s color;
}


.nav a:hover {
  background-color: #3f5ba6;
  color: #f2f2f2;
}

.nav a.active {
  background-color: #ffd633;
  color: #000000;
  font-weight: normal;
  cursor: default;
  margin-right: -4px;
  margin-left: -4px;
}

.nav a.active:hover {
  background-color: #ffe680;
  color: #000000;
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 0px;
	margin-left: 0px;
	text-align: center;
  } 
}

.floatme {
  float: right;
}

.navbutton {
  padding: 0px 0px;
  cursor: pointer;
  height: 25px;
  width: 70px;
  background-color: #ffd633;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.navbutton:hover {
  background-color: #ffe680;
}

.navbutton2 {
  padding: 0px 0px;
  cursor: pointer;
  height: 25px;
  width: 140px;
  background-color: #ffd633;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.navbutton2:hover {
  background-color: #ffe680;
}

.col {
  padding: 15px;
  line-height: 48px;
  column-count: 3;
}

input[type=text], select {
    width: 40%;
    padding: 6px 10px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-weight: normal;
	text-align: left;
}

input[value="Upload"] {
    width: 10%;
    background-color: #23315c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[value="Add Student"] {
    float: right;
    width: 85%;
    background-color: #23315c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[value="Zero Hours"] {
    width: 10%;
    background-color: #23315c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[value="Move Up"] {
    width: 10%;
    background-color: #23315c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[value="Edit"] {
    float: right;
    width: 85%;
    background-color: #23315c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[value="Delete All"] {
    width: 10%;
    background-color: #23315c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitfile {
  float: right;
}

input[type=submit]:hover {
    background-color: #1c284a;
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
